body {
    margin: 0;
}


/*header*/
/*desktop*/
header {
    margin: 0 1.5rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nr1 {
    display: flex;
}

.nr2 {
    display: flex;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

h1 span {
    opacity: 0.6;
}


.desktop {
    display: flex;
}

.desktop li {
    margin-right: 1rem;
    list-style-type: none;
    
}

.desktop li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}


/*main banner*/
/*desktop*/
.banner {
    display: flex;
    background-color: rgba(211, 211, 211, 0.737);
    align-items: center;
    margin: 0;
}

.banner-photo {
    width: 60%;
    overflow: hidden;
    margin: 2rem 1.5rem;
    flex-basis: 60%;
    flex-shrink: 0;
    min-width: 0;
}

.banner-photo img {
    max-width: 100%;
}

.banner-text {
    margin: 2rem 1.5rem;
}

.banner-text h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 84, 84);
    width: 70%;
    height: 4rem;
}

.button a {
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
}


/*main practicing*/
/*desktop*/

.practicing {
    display: flex;
}

.left-side {
    width: 60%;
    padding: 2rem 1.5rem;
    border-right: 1px solid gray;
    
}

.photo-practicing {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;
}

.photo-practicing img {
    max-width: 100%;
    height: auto;
}

.right-side {
    width: 40%;
}

.photos-right {
    width: 35%;
    overflow: hidden;
    margin-right: 1rem;
    
}

.photos-right img {
    width: 100%;
    height: auto;
}

.text-right {
    width: 65%;
}

.text-right a {
    text-decoration: none;
}

.box {
    display: flex;
    padding: 1rem;
    flex-shrink: 0;
    flex-basis: 35%;
    flex-grow: 1;

}





/*main content*/
/*desktop*/

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 2rem 3.5rem;
    justify-content: center;
    align-content: center;
}
.content h2 {
    flex: none;
    width: 100%;
    text-align: center;
}
.container-photo {
    overflow: hidden;
    width: 100%;
}

.container-photo img {
    max-width: 100%;
    height: auto;
}

.container-content {
    background-color: white;
    margin: 2rem;
    width: 28%;
    padding-bottom: 1rem;
}

.container-content h3,
.container-content p {
    margin-left: 1rem;
}

.container-content h3{
    margin-top: 1rem;
}
