body {
    margin: 0;
    font-family: Helvetica;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

@media only screen and (orientation: landscape) {
/*header*/
/*desktop*/
header {
    margin: 0 1.5rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.mobile {
    display: none;
}

.nr1 {
    display: flex;
}

.nr2 {
    display: flex;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

h1 span {
    opacity: 0.4;
}


.desktop {
    display: flex;
}

.desktop li {
    margin-right: 1rem;
    list-style-type: none;
    
}

.desktop li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
}


/*header*/
/*mobile*/
@media only screen and (orientation:portrait) {
    .desktop, .nr1 {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: space-evenly;
        height: 5rem;
        align-items: center;
    }

    .mobile a {
        width: 10%;
    }

    .mobile img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (orientation: landscape) {
/*main banner*/
/*desktop*/
.banner {
    display: flex;
    background-color: rgba(211, 211, 211, 0.737);
    align-items: center;
    margin: 0;
}

.banner-photo {
    width: 60%;
    overflow: hidden;
    margin: 2rem 1.5rem;
    flex-basis: 60%;
    flex-shrink: 0;
    min-width: 0;
}

.banner-photo img {
    max-width: 100%;
}

.banner-text {
    margin: 2rem 1.5rem;
}

.banner-text h2 {
    font-size: 3.5rem;
    font-weight: 700;
    opacity: 0.7;
}

.banner-text p {
    font-size: 1.5rem;
    opacity: 0.7;
    font-weight: 550;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 84, 84);
    width: 70%;
    height: 4rem;
}

.button a {
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
}
}

/*main banner*/
/*mobile*/
@media only screen and (orientation:portrait) {
    .banner-photo {
        width: 100%;
        overflow: hidden;
    }

    .banner-photo img {
        max-width: 100%;
        height: auto;
    }

    .banner {
        background-color: rgb(215, 214, 214);
        padding-bottom: 2rem;
    }

    .banner h2{
        margin: 2rem 0 2rem 1rem;
        font-size: 2.5rem;
        opacity: 0.75;
    }

    .banner p {
        margin: 0 1rem 1.5rem 1rem;
        opacity: 0.75;
        font-size: 1.4rem;
        font-weight: 550;
    }

    .button {
        width: 90%;
        margin: 0 auto;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }

    .button a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
}

@media only screen and (orientation: landscape) {
/*main practicing*/
/*desktop*/

.practicing {
    display: flex;
    width: 100%;
}

.left-side {
    width: 60%;
    padding: 2rem 1.5rem;
    border-right: 1px solid gray;
    
}

.left-side h2 {
    font-size: 3rem;
    opacity: 0.75;
}

.left-side p {
    font-size: 1.3rem;
    opacity: 0.75;
}

.photo-practicing {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;
}

.photo-practicing img {
    max-width: 100%;
    height: auto;
}

.right-side {
    width: 40%;
    padding-top: 1rem;
    overflow: hidden;
}



.box img {
    max-width: 35%;
    height: auto;
    padding-right: 1rem;
}

.text-right {
    width: 65%;
}

.text-right a {
    text-decoration: none;
}

.text-right h3 {
    font-size: 2rem;
    opacity: 0.75;
}

.text-right p {
    font-size: 1.5rem;
    opacity: 0.75;
}


.box {
    box-sizing: border-box;
    display: flex;
    padding: 1rem 0rem 1rem 1rem;
    height: fit-content;
    width: 100%;
    padding-right: 1rem;
}

.colored {
    background-color: rgb(199, 196, 196);
}

.mobile-practicing {
    display: none;
}

}
/*main practicing*/
/*mobile*/
@media only screen and (orientation: portrait) {
    .left-side {
        display: none;
    }
    .right-side {
        display: none;
    }

    .mobile-practicing {
        overflow: hidden;
        text-align: center;
    }

    .mobile-practicing img {
        max-width: 90%;
        margin: 1rem;
    }

    .text-mobile {
        margin: 1rem 1rem 2rem 1rem ;
        text-align: left;
    }

    .text-mobile h3 {
        opacity: 0.75;
        font-size: 1.5rem;
        margin: 0;
    }

    .text-mobile p{
        margin: 0;
        opacity: 0.75;
        font-size: 1rem;
    }

    .text-mobile a {
        text-decoration: none;
        color: rgb(0, 149, 255);
    }
}

@media only screen and (orientation: landscape) {
/*main content*/
/*desktop*/

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(219, 218, 218);
    padding: 2rem 3.5rem;
    justify-content: center;
    align-content: center;
}
.content h2 {
    flex: none;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
.container-photo {
    overflow: hidden;
    width: 100%;
}

.container-photo img {
    max-width: 100%;
    height: auto;
}

.container-content {
    background-color: white;
    margin: 1rem 1rem;
    width: 28%;
}

.container-content h3,
.container-content p {
    margin-left: 1rem;
    opacity: 0.75;
}

.container-content h3{
    margin-top: 1rem;
    font-size: 2rem;
}

.container-content p {
    font-size: 1.4rem
}

.content-mobile {
    display: none;
}
}

/*main content*/
    /*mobile*/

@media only screen and (orientation: portrait) {
    .content {
        display: none;
    }

    .content-mobile {
        text-align: center;
        padding: 2rem 0;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .box-content {
        width: 90%;
        text-align: left;
        padding-top: 1rem;
        margin: 0 auto;
    }

    .box-content h3 {
        background-color: rgb(212, 210, 210);
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 1rem 0 1.5rem 1rem;
    }
}

@media only screen and (orientation: landscape) {
    /*main exhebit*/
    /*desktop*/

.exhibit {
    padding: 2rem 0;
    border-bottom: solid gray 1px;
}

.exhibit h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    opacity: 
    0.75;
}


.exhibit h3 {
    font-size: 1.7rem;
    opacity: 0.75;
}

.exhibit p {
    font-size: 1.3rem;
    opacity: 0.75;
}

.exhibit-container {
    display: flex;
    width: 100%;
}

.exhibit-left {
    width: 60%;
    overflow: hidden;
    margin-left: 1.5rem;
}

.exhibit-left video {
    max-width: 100%;
    height: auto;
}

.exhibit-right {
    width: 40%;
    margin-left: 1.5rem;
}

.gray, .non-gray {
    display: flex;
    padding: 1rem 0rem 1rem 1rem;
    overflow: hidden;
}

.gray img, .non-gray img {
    max-width: 35%;
    height: auto;
}

.gray {
    background-color: rgb(205, 203, 203);
}

.text-exhibit {
    width: 65%;
    margin-left: 1rem;
}
}

/*main exhebit*/
    /*mobile*/

@media only screen and (orientation: portrait) {
    .exhibit {
        margin: 2rem 0 1rem 0;
    }

    .exhibit h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .exhibit-right {
        display: none;
    }

    .exhibit-left h3, .exhibit-left p {
        display: none;
    }

    .exhibit-left {
        width: 100%;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    .exhibit-left video {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (orientation: landscape) {
    /*footer*/
    /*desktop*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem ;
}

.footer-right ul li {
    display: inline;
    margin-right: 0.7rem;
}

.footer-right ul li a {
    text-decoration: none;
    color: black;
}
}


/*footer*/
    /*mobile*/
@media only screen and (orientation: portrait) {
    .footer-right {
        display: none;
    }
    .footer-left {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

